<section class="o-section">
  <div class="grid grid--center">
    <h2 id="faq" class="h1 grid__header grid__title" style="max-width: 11em;">Questions people asked before joining Learn JavaScript</h2>

    <div class="grid__centered-text o-text">
      <div class="c-faq o-text">
        {%- markdown %}
        {% include "parts/faq.md" %}
        {%- endmarkdown %}
        <br>
      </div>
    </div>
  </section>
