<section class="o-section">
  <div class="grid grid--center">
    <h2 class="h1 grid__header" style="width: 8.5em;">Learn JavaScript Guarantee</h2>
    <div class="grid__centered-text">
      {% include 'svg/guarantee.svg' %}
    </div>
    <div class="grid__centered-text o-text">
      {% markdown %}
      **You will learn JavaScript** if you work on the course consistently for a month.

      **Try this course risk-free for 30 days**. If you still don't understand JavaScript, write me back and let me know. I wil refund your investment.

      I offer this guarantee because I want you to experience the course without inhibition. I'm confident that Learn Javascript will exceed your expectations.
      {% endmarkdown %}

      {%- testimonial 'mark-teekman' %}
    </div>
  </div>

</section>
