<section class="o-section c-intro">
  <div class="grid grid--center">
    <h2 class="h1 grid__header" style="width: 8.5em;">The fastest way to learn JavaScript</h2>

    <div class="grid__image">
      <img class="svg-image" src="/images/rocket.svg" alt="A kid and an adult cycling. The kid is waving at you.">
    </div>

    <div class="grid__text o-text">
      {%- markdown %}

    Let's get specific.

    Here are several things you need to learn. (There's much more in reality, but let's use these as an example).:

    - ES6
    - Ajax
    - Arrays
    - Objects
    - Functions
    - DOM methods
    - Accessibility
    - JavaScript Best practices
    - Object Oriented Programming

    What order will you learn these in?

    **Learn JavaScript is a shortcut.**

    I wrote Learn JavaScript to help you master JavaScript in the shortest amount of time.

    I improved the lessons over and over based on past students' experiences. You get to benefit from this work. You'll **learn the right things in the right order**.

    You don't have to learn by trial-and-error anymore. You get to follow a tried-and-tested roadmap that'll help you become good at JavaScript.

    {%- pullquote %}
    **Your learning speeds up** if you *have a teacher* who can teach you the *right things* in the *right order*.
    {%- endpullquote %}

    I suffered for years when learning to draw by myself. I couldn't draw anything nice. I decided to join a class one day, and I managed to go from junk to a realistic picture in 10 weeks.

    That's the benefit of having a teacher who knows their stuff.

    <img src="/images/art.jpg" alt="Left: Zell's drawing of his face (that doesn't look anything like a face). Right: Zell's drawing of a tiger.">

    You don't have to worry about the sequence of things to learn. **I can teach you the right things in the right order.**

    {%- endmarkdown %}
    </div>

    {%- testimonial 'jake-chiam' %}
  </div>
</div>
</section>
