// Layouts
// =======

section {
  // @include show-grid();
  padding-left: 1em;
  padding-right: 1em;

  @include bp(960px) {
    padding: 0 calc(50% - 400px);
  }

  @include bp(mega) {
    padding: 0 calc(50% - 20em)
  }
}

section:first-child {
  margin-top: rhythm(3);
}

section:last-child {
  margin-bottom: rhythm(3);
}
