<section class="o-section o-section--has-background">
  <div class="grid grid--me">
    <div class="grid__header">
      <h2 class="h1" style="width: 10em;">Learn to build anything you want with JavaScript</h2>
    </div>
    <div class="grid__image">
      <img src="/images/zell-fooling-around.jpg" alt="">
    </div>
    <div class="grid__text">
      {% markdown %}
      Hello, I'm Zell!

      I taught myself how to code without any prior programming experience.

      **I managed get a $100,000 yearly income within my first few years** — freelancing — only with my HTML, CSS, and JavaScript skills.

      Since then, **I helped over one million people become better frontend developers** through my blog and courses.

      Today, I'm here to help you learn JavaScript.
      {% endmarkdown %}
    </div>
    <div class="guest-logos">
      <h3 class="guest-logos__title">Zell has been featured in:</h3>
      <div class="logos">
        {% include 'svg/logos/alistapart.svg' %}
        {% include 'svg/logos/codementor.svg' %}
        {# {% include 'svg/logos/codrops.svg' %} #}
        {% include 'svg/logos/creativebloq.svg' %}
        {% include 'svg/logos/csstricks.svg' %}
        {% include 'svg/logos/freecodecamp.svg' %}
        {# {% include 'svg/logos/heartinternet.svg' %} #}
        {% include 'svg/logos/javascriptweekly.svg' %}
        {# {% include 'svg/logos/marvel.svg' %} #}
        {% include 'svg/logos/scotchio.svg' %}
        {% include 'svg/logos/sitepoint.svg' %}
        {% include 'svg/logos/smashingmagazine.svg' %}
        {% include 'svg/logos/techinasia.svg' %}
      </div>
    </div>

    {%- testimonial 'pierre-wizla' %}
  </div>

</section>
