<section class="o-section c-intro">
  <div class="grid grid--center">
    <h2 class="h1 grid__header" style="width: 9.5em;">Remember JavaScript forever once you learned it</h2>

    <div class="grid__image">
      <img class="svg-image" src="/images/cycling.svg" alt="A kid and an adult cycling. The kid is waving at you.">
    </div>

    <div class="grid__text o-text">
      {% markdown %}

      Many people forget JavaScript because they try to cramp theory into their brains as if they're studying for a test. This doesn't work since you forget everything once your tests are over.

      The better way is to internalize JavaScript by understanding it and using it repeatedly (like what we do in this course). Once you internalize JavaScript, it becomes a skill — one that you can remember forever.

      Yes, you may become rusty, like how you wobble on a bike if you haven't cycled for ages. But you can get up to speed within a few hours.

      Don't waste your time and energy cramming and forgetting JavaScript. **Learn JavaScript well with Learn JavaScript.**

      ## Become an expert at JavaScript after you mastered the basics

      Being a JavaScript expert doesn't mean you know everything about JavaScript. It means:

      1. You can **make anything** you want from scratch
      2. You can **solve any JavaScript problem** you encounter
      3. You **know what to learn** and how to learn them
      4. You can make decisions between different coding styles
      5. You can choose between frameworks
      6. You know your code is good enough
      7. You understand coding techniques and frameworks when you read articles
      8. You can apply what you learned when coding
      9. You can **grasp deep concepts** without getting a headache.

      You can become a JavaScript expert. It takes effort, but you can do it.
      {%- endmarkdown %}

      {%- testimonial 'robert-mittl' %}
    </div>
  </div>
</section>
