<section class="o-section c-intro">
  <div class="grid grid--center">
    <h2 class="h1 grid__header" style="max-width: 12em;">You want to build beautiful, interactive, and crazy things. </h2>

    <div class="grid__text o-text">
      {% markdown %}

      I started off making simple HTML and CSS sites. There was nothing fancy about them.

      As I learned to think like a developer, I began building crazy things I couldn't imagine building before. For example:

      - A custom calendar widget for a boutique hotel
      - A static site generator that ran my blog for a while
      - Interactive components with cool animations

      I want to show you an example of an interactive component. Here's a modal animation I built. It brings a smile to my face whenever I see it 🤗.

      <p>
        <video controls>
          <source src="/videos/newsletter-signup3.mp4" type="video/mp4"/>
          <source src="/videos/newsletter-signup3.m4v" type="video/m4v"/>
          <img src="/videos/newsletter-signup3.gif" alt="A GIF of Zell's signup animation"/>
        </video>
      </p>

      Another example: I built this component where you can preview artwork on a wall. You can then switch between different furniture scenes to get a sense of how the artwork looks.

      Pay attention to two things in this example:

      1. Watch how the artwork zooms into the furniture setting
      2. Watch how the furniture switch as we change scenes

      <p>
        <video controls>
          <source src="/videos/arthit.mp4" type="video/mp4"/>
          <img src="/videos/arthit.gif" alt="View painting on wall feature"/>
        </video>
      </p>

      Pretty cool, yeah?

      ## You don’t need a Computer Science degree to learn JavaScript

      I used to suck at JavaScript. I rather write hacky CSS than use JavaScript — even for simple components like a menu.

      I thought it was impossible for me. I thought I was too old, I didn't have a Computer Science degree, I wasn't smart enough.

      Turns out I was wrong.

      **You can learn JavaScript without a Computer Science degree**. You can even have a successful career in software without a Comupter Scrience degree.

      <img src="/images/tweet.png" alt="A tweet that asks people to retweet if they think they can have a successful career in software development without a CS Degree. There are 931 retweets.">

      JavaScript is simply one step in the entire process of becoming a good developer.

      Have faith in yourself — even if you tried many things but failed — because you can do it. **I know how to help you learn JavaScript**. I've been through the process myself and I taught many students via this course.

      ## Here's the best way to learn JavaScript

      When I teach JavaScript, **I focus on a two-step process that's proven to work**:

      - I help you understand JavaScript concepts
      - You learn to apply these concepts by building real things

      **I help you understand concepts by turning abstract concepts into simple everyday examples**. These analogies have helped many students understand JavaScript concepts.

      For example:

      1. When I teach *functions*, I ask students to imagine *drawing water from a well*.
      2. When I teach *if/else statements*, I ask students to imagine crossing the street at a *traffic light*.
      3. When I teach *for-loop*, I ask students to imagine *bouncing a ball*.
      4. When I teach *scopes*, I ask students to imagine a *one-way glass*.

      **Once you understand the concept, I teach you how to use them in real projects**, which cements the knowledge into your subconscious, and you'll always know (and remember) what to do.

      {%- testimonial 'marion-couneson' %}

      {% endmarkdown %}

    </div>
  </div>
</section>
