<section class="o-section c-intro">
  <div class="grid grid--center">
    <h1 class="grid__header" style="width: 10em;">
      Build anything you want with JavaScript
    </h1>
    <div class="grid__text o-text">
      {% markdown %}
      Have you tried learning JavaScript for a while now, but feel that you're not making progress?

      ## You went through many resources, but you still cannot understand JavaScript.

      You've read through all the free resources you can find. You tried:

      - Googling for web development articles
      - Using beginner websites like CodeAcademy
      - Going through FreeCodeCamp
      - Reading books other developers recommend

      You may have spent some money on learning JavaScript too.

      - You bought books and courses.
      - You may even have spent $12,000 on a Bootcamp.

      Each resource helped you understand *some* JavaScript, But you still can't piece everything together — **you don't know how to build things from scratch**

      ## When you try to code something from scratch, you freeze at a blank JavaScript file

      You twiddle your thumbs as you stare into the JavaScript file, but nothing comes to mind. **You don't know how to start.**

      You realize one thing — **you don't know JavaScript**.

      It's frustrating, but you acknowledge there's a gap in your knowledge.

      ## You lack confidence in JavaScript

      So you avoid JavaScript whenever you can. You rely on HTML and CSS — even resorting to hacky practices to avoid JavaScript.

      **This lack of confidence in JavaScript makes you nervous**. You're so nervous about JavaScript, you screw up on your interviews.

      This lack of confidence also affects you on the job too:

      - You don’t dare to say “yes” when you’re asked to use JavaScript.
      - But you don’t want to say “no” either.

      ## You rely on Google when you need JavaScript

      You look for libraries and plugins others have created. You hope they work, but you're screwed if they don't.

      You copy-paste answers from Stack Overflow and various blogs you read. And you can't understand what you copied.

      You're worried about being called out as a fraud.

      ## Deep down inside, you want think like a developer

      If you know how to think like a developer, you can build anything you want! Nothing can stop you from building things:

      - You won't freeze up
      - You know exactly how to start and how to improve as you go along
      - Even if you get stuck, you can get yourself unstuck easily without Googling all the time.

      You can solve any problem you encounter with JavaScript.

      It's a superpower.

      **Thinking like a developer is simple**. But it's not easy. There are four steps:

      1. Identify the problem you need to solve
      2. Break the problem down into smaller problems
      3. Solve each small problem
      4. Assemble your solutions into the final solution.

      The hardest part is knowing how to break large problems down into smaller problems
      {% endmarkdown %}
    </div>
  </div>
</section>
