<section class="o-section">
  <div class="grid">
    <div class="grid-benefits o-text">
      <div class="grid-benefits__header">
        <h3 style="max-width: 10em;">Written to help you learn</h3>
      </div>
      <div class="grid-benefits__image">
        {% include 'svg/immediate-access.svg' %}
      </div>

      <div class="grid-benefits__text">
        {% markdown %}

        I have a bold aim for Learn JavaScript — **When you complete the course, you can build anything you want from scratch without Googling for answers**.

        <div class="pull-quote">

        **You will understand JavaScript** no *matter what level you're at*.

        </div>

        I improved the lessons over and over based on past students' experiences. **You'll learn the right things in the right order**. I'm here to ensure you have the best possible experience with JavaScript.

        {% endmarkdown %}

        {% testimonial 'pelle-lundgren' %}
      </div>
    </div>
  </div>
</section>
