<section class="o-section">
  <div class="grid">
    <div class="grid-benefits o-text">
      <div class="grid-benefits__header">
        <h3>1-1 calls with Zell</h3>
      </div>

      <div class="grid-benefits__image o-text">
        {% include 'svg/coaching.svg' %}
      </div>

      <div class="grid-benefits__text">
        {% markdown %}
        You get three 30-minute, 1-1, calls with me if you get "Guided Instruction". You can redeem these calls anytime (subjected to my availability).

        You can ask me anything you want during these calls. I can help you:

        - Review your code
        - Debug your code
        - Code something with you
        - Answer questions you have

        Anything goes!

        {% endmarkdown %}
        {%- testimonial 'kevin-powell' %}
      </div>
    </div>
  </section>
