<div class="o-section">
  <div class="grid grid--center">
    <h2 class="h1 grid__header" style="max-width: 12em;">Bonus resources</h2>
  </div>
</div>

<section class="o-section">
  <div class="grid">
    <div class="grid-benefits o-text">
      <div class="grid-benefits__header">
        <h3>60-minute calls with Zell</h3>
      </div>

      <div class="grid-benefits__image o-text">
        {% include 'svg/coaching.svg' %}
      </div>

      <div class="grid-benefits__text">
        {% markdown %}
        You get two 60-minute video calls with me if you grab the Guided Instruction package (more on this later). You can redeem these calls anytime, subject to my availability. No expiry deadline.

        **You can ask me anything you want during** these calls. I can help you:

        - Review your code
        - Debug your code
        - Pair program with you
        - Answer any questions you have (even if they're not JavaScript related).

        <p></p>

        {% endmarkdown %}

        {%- testimonial 'kevin-powell' %}
      </div>
    </div>
  </div>
</section>

<section class="o-section">
  <div class="grid">
    <div class="grid-benefits--right o-text">
      <div class="grid-benefits__header">
        <h3>The Learn JavaScript Community</h3>
      </div>
      <div class="grid-benefits__image">
        {% include 'svg/peers.svg' %}
      </div>
      <div class="grid-benefits__text">
        {% markdown %}
        You get access to a community of students who're learning JavaScript – like you. **You can ask questions, provide answers, and form accountability groups to nail down your JavaScript knowledge.**

        I'll also hang out in the community to help answer questions. You can find me there almost every day.
        {% endmarkdown %}

        {%- testimonial 'michiko-y' %}
      </div>
    </div>
  </div>
</section>
