<section id="product" class="o-section">
  <div class="grid grid--product">
    <h2 class="c-logo jsLogo">
      <div class="tenso">
        <div>Learn</div>
        <div>JavaScript</div>
      </div>
      <div class="c-logo__subtext tenso">
        <span class="tenso">{</span>
        <span class="editable jsLogoEditable">From scratch</span>
        <span class="tenso">}</span>
      </div>
    </h2>
  </div>

  <div class="grid grid--product">
    <div class="grid__text--center o-text">
      <h2 class="type-subtitle">
        {{'*Everything* you need to know about JavaScript explained in the ***right order***' | markdown | safe}}.</h2>
    </div>

    <div class="grid--product__features">
      <div class="feature">
        <div class="feature__image">
          <img class="svg-image" src="/images/icons/no-knowledge.svg" alt="">
        </div>

        <div class="feature__title">
          {{'**No JavaScript knowledge required**' | markdown | safe}}
        </div>

        <div class="feature__description">
          {%- markdown %}
          I *don't assume you know anything*. I teach you the absolute basics, including how to link your JavaScript file to your HTML file.
          {%- endmarkdown %}
        </div>
      </div>

      <div class="feature">
        <div class="feature__image">
          <img class="svg-image" src="/images/icons/easy.svg" alt="">
        </div>
        <div class="feature__title">
          {%- markdownInline %}
          **Easy to understand examples**
          {%- endmarkdownInline %}
        </div>

        <div class="feature__description">
          {% markdown %}
          *Real examples in every lesson*. No `foo`, no `bar`.
          Abstract concepts get turned into everyday examples through relevant analogies.
          {% endmarkdown %}
        </div>
      </div>

      <div class="feature">
        <div class="feature__image">
          <img class="svg-image" src="/images/icons/step.svg" alt="">
        </div>

        <div class="feature__title">
          {%- markdownInline %}
          **Step-by-step lessons**
          {%- endmarkdownInline %}
        </div>

        <div class="feature__description">
          {% markdown %}
          Each lesson builds on the knowledge you learned from previous lessons. *We don't skip steps* so you won't get confused.
        {% endmarkdown %}
        </div>
      </div>

      <div class="feature">
        <div class="feature__image">
          <img class="svg-image" src="/images/icons/theory.svg" alt="">
        </div>

        <div class="feature__title">
          {%- markdownInline %}
          **From theory to practice**
          {%- endmarkdownInline %}
        </div>

        <div class="feature__description">
          {% markdown %}
          Learn to *apply JavaScript concepts* as you build real-world components so *you remember JavaScript for life*.
        {% endmarkdown %}
        </div>
      </div>

      <div class="feature">
        <div class="feature__image">
          <img class="svg-image" src="/images/icons/build.svg" alt="">
        </div>

        <div class="feature__title">
          {%- markdownInline %}
          **Build 20 real-world components**
          {%- endmarkdownInline %}
        </div>

        <div class="feature__description">
          {% markdown %}
          You'll make animations, use best practices, improve the components you built throughout the course, and more.
        {% endmarkdown %}
        </div>
      </div>

      <div class="feature">
        <div class="feature__image">
          <img class="svg-image" src="/images/icons/community.svg" alt="">
        </div>

        <div class="feature__title">
          {%- markdownInline %}
          **A community that answers your questions**.
          {%- endmarkdownInline %}
        </div>

        <div class="feature__description">
          {% markdown %}
          All your JavaScript questions will get answered in this community — no exceptions — so ask away!
        {% endmarkdown %}
        </div>
      </div>
    </div>
  </section>

  <section class="o-section">
    <div class="grid grid--product">
      <h2 class="grid__centered-header" style="width: 15em; font-weight: 400;">With over 300 in-depth lessons, Learn JavaScript helps you:</h1>

      {% markdown %}
      <div class="grid--product__benefits">
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} **Understand JavaScript** {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} Learn JavaScript best practices {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} **Think like a developer** {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} Make silky smooth animations {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} **Make things from scratch** {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} Build frameworks {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} **Build 20 real-world components** {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} Write reusable code {%- endmarkdownInline %}
          </span>
        </div>
        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} **Have confidence in JavaScript** {%- endmarkdownInline %}
          </div>
        </span>

        <div class="benefit">
          <svg viewbox="0 0 18 18"><use xlink:href="#star1"/></svg>
          <span>
            {%- markdownInline %} Remember JavaScript for life {%- endmarkdownInline %}
          </span>
        </div>
        {% endmarkdown %}
      </div>

      <div class="grid__centered-text">
        <p style="text-align: center">And much more! (See the complete lesson list below).</p>
      </div>

      {%- testimonial 'rich-edmund' %}
    </div>
  </section>

  <section>
    <div class="grid grid--center">
      <div class="grid__text o-text"></div>
    </div>
  </section>
