<section class="o-section" id="comps">
  <div class="grid">
    <div class="grid-twenty-comps">
      <div class="grid__header">
        <h3 id="components">Learn to build 20 components</h3>
      </div>
      <div class="grid-twenty-comps__text o-text">
        {% markdown %}
        Learn to build practical components you use at work — you get to:

        - Understand how each component works
        - Build them from scratch (without frameworks or libraries)
        - Tweak them so you improve their usability and accessibility.

        We'll cover each component step-by-step — even if the difficulty of components rises as you go thorugh the course.

        {% endmarkdown %}
      </div>

      <div class="grid-twenty-comps__list c-twenty-comps o-text">
        <p class="grid__full-width">
          <strong>Here are the 20 components you'll build:</strong>
        </p>
        <ol>
          <li>Off-canvas Menu</li>
          <li>Modal Window</li>
          <li>Accordion</li>
          <li>Tabbed Component</li>
          <li>Carousel</li>
          <li>Calculator</li>
          <li>Popover</li>
          <li>Todolist</li>
          <li>Typeahead</li>
          <li>Datepicker</li>
        </ol>

        <ol>
          <li>Countdown Timer</li>
          <li>Google Maps Clone</li>
          <li>Dota Heroes Page</li>
          <li>Auto-hiding Sticky Nav</li>
          <li>Slide &amp; Reveal</li>
          <li>Infinite Scroll</li>
          <li>Spinning Pacman</li>
          <li>Drag and Drop</li>
          <li>A Tiny Framework</li>
          <li>Dota Heroes SPA</li>
        </ol>
      </div>

      <p class="grid-twenty-comps__sneak">
        <strong>Here's a sneak peek of the components:</strong>
      </p>

      <ul class="grid-twenty-comps__images">
        <li>
          <img alt="The off-canvas menu" src="/images/comps/off-canvas.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The modal" src="/images/comps/modal.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The accordion" src="/images/comps/accordion.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The tabbed component" src="/images/comps/tab.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The carousel menu" src="/images/comps/carousel.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The calculator" src="/images/comps/calculator.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The popover" src="/images/comps/popover.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The Todolist" src="/images/comps/todolist-2.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The Typeahead" src="/images/comps/typeahead.gif" loading="lazy" >
        </li>
        <li>
          <img alt="The Goole Maps Clone" src="/images/comps/google-map.gif" loading="lazy" >
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/dota-filter.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/dota-filter.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <img alt="Datepicker" src="/images/comps/datepicker.gif">
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/countdown.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/countdown.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/sticky-nav.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/sticky-nav.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/slide-reveal.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/sticky-nav.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/infinite-scroll.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/infinite-scroll.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/pacmen.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/pacmen.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/dragdrop.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/dragdrop.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/tiny.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/dragdrop.mp4"> here </a> instead.
          </video>
        </li>
        <li>
          <video autoplay loop>
            <source src="/videos/dota-spa.mp4" type="video/mp4">
            Your browser doesn't support embedded videos. Watch the video <a href="/videos/dota-spa.mp4"> here </a> instead.
          </video>
        </li>
      </ul>
    </div>

    {%- testimonial 'ion-leahu' %}
  </div>

</section>
