// Nicer Ampersands
// TODO: Nicer ampersands not working properly. Debug

// @font-face {
//   font-family: Ampersand;
//   src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
//   unicode-range: U+26;
// }

// Typography
// ----------
// For all Typography related values. 
// Uses Compass Vertical Rhythms. 
// ==========

// Compass Vertical Rhythms Settings
// ---------------------------------
$base-font-size: 18px;
$base-line-height: 28px;
$round-to-nearest-half-line: true;

// Uses the `rem` unit for all vertical rhythm output
$rhythm-unit: 'rem';
$ms-ratio: 1.333333333333;

// Font Families
// ------------
$font-families: (
  header: ('jaf-bernino-sans-condensed', sans-serif),
  text: ('jaf-bernino-sans', sans-serif),
  code: ('Menlo', 'Monaco', 'Consolas', monospace),
  quote: ('adelle', serif)
  );

$font-weights: (
  header: (normal: 400, bold: 600),
  text: (normal: 400, bold: 600),
  code: (normal: 400, bold: 600),
  );

$p-font-map: (
  null  : (17px, 1.45),
  med  : (20px, 1.4),
  large: 22px,
  mega: 23px
  );

// Everything else here is going to be relative to $p-font-map at their respective sizes. 

$h1-font-map: (
  null: (ms(2), 1.25),
  med: (ms(3), 1.25)
  );

$h2-font-map: (
  null: (ms(2), 1.3)
  );

$h3-font-map: (
  null: (ms(2), 1.1)
  );

$h4-font-map: (
  null: (ms(1), 1.1)
  );

$h5-font-map: (
  null: (ms(1), 1.1)

  );

$h6-font-map: (
  null: (14px, 1.4)
  );

$quote-font-map: (
  null: (16px, 1.4),
  med: (14.5px)
  );


$code-font-map: (
  );

